#character-box {
          padding: 10px;
          background-color: var(--secondary-color);
          position: relative;
          margin-top: -5px;
          color: white;
}

#character-box > div {
          display: flex;
          justify-content: space-between;
          min-height: 60px;
          align-items: center;
}

#character-box h2 {
          color: white;
          text-transform: uppercase;
}

#character-box > div a {
          text-decoration: none;
}

#character-box::after {
          content: '';
          position: absolute;
          bottom: 0px;
          right: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 0px solid transparent;
          border-top: 0px solid white;
          border-bottom: 20px solid white;
}

#character-box:hover {
          background-color: var(--primary-color);
}

#character-box:hover .heart-icon {
          content: url('/heart-white.svg');
}

@media  (min-width: 768px) {
          #character #character-box {
                    width: 100%;
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
          }
          #character #character-box:hover {
                    background-color: var(--secondary-color);
          }
          #character #character-box:hover .heart-icon {
                    content: none;
          }
          #character-box > div {
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    align-items: center;
                    width: 100%;
          }
          #character-box::after {
                    content: none;
          }
}