nav { 
          background-color:  var(--secondary-color);
          display: flex;
          justify-content: space-between;
          padding: 15px 15px 10px;
          
}

nav > div {
          display: flex;
          justify-content: space-between;
}

nav button {
          background-color: black;
          border: 0;
          display: flex;
          align-items: center;
          height: 55px;
          margin: 0 10px
}

nav button p {
          color: white;
          padding: 5px;
}


