body {
          font-size: var(--font-size);
          margin: 0;
}
.dark-mode { 
          background-color: white;
          filter: invert(1) 
          hue-rotate(180deg);
}
.aux-dark-mode {
          filter: invert(1) hue-rotate(180deg);
}
.hidden  {
          display:none
}
button {
          cursor: pointer
}
